
<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="./styles.css">
  <script src="https://cdn.jsdelivr.net/pyodide/v0.17.0/full/pyodide.js"></script>
  <script defer src="../index.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtBospzxD7kUWiH78xUhOAnT0R7yHr86M=initMap"></script>
  </head>
  <body>
    <div>
      <label for="pais">País:</label>
      <input type="text" id="pais" name="pais" placeholder="Introduce el nombre de un país...">
      <button id="filtrar" type="button">Filtrar</button>
    </div>
    <p>Mapa</p>
    <div id="map"></div>
    
    
  </body>
</html>
