
<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="./styles.css">
  <script src="https://cdn.jsdelivr.net/pyodide/v0.17.0/full/pyodide.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR15cLG5BggM74viHr8qf6CUgsmZMaY1s&callback=initMap"></script>
  </head>
  <body>
    <form>
      <label for="pais">País:</label>
      <input type="text" id="pais" name="pais" placeholder="Introduce el nombre de un país...">
      <button id="filtrar" type="submit">Filtrar</button>
    </form>
    <p>Mapa</p>
    <div id="map"></div>
    
    <script src="../index.js"></script>
  </body>
</html>
